body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

#FileDrop {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px dashed #BAC9E3;
    border-radius: 2px;
    left: 10px;
    right: 10px;
    top: 10px;
    color: black;
    background: #F7F9FD;
    transition: background-color 0.1s ease;
}

#Target {
    position: absolute;
    width: 100%;
    border: 2px black;
    margin-top: 50px;
    color: black;
}

#FileDrop.Hover {
    background-color: #3298FE;
    color: white;
}

#FileDrop input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0px;
    top: 0px;
}

#FileDrop #Text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 40px;
}

textarea {
    font-family: "Roboto Mono"monospace;
    height: 300px;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

#Results {
    position: absolute;
    top: 75px;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 85px);
}

#Description {
    position: absolute;
    width: 100%;
    height: 40px;
    font-size: 20px;
    top: 15px;
}