body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

#FileDrop {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px dashed #BAC9E3;
    border-radius: 2px;
    left: 10px;
    right: 10px;
    top: 10px;
    color: black;
    background: #F7F9FD;
    transition: background-color 0.1s ease;
}

#FileDrop.Hover {
    background-color: #3298FE;
    color: white;
}

#FileDrop input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0px;
    top: 0px;
}

#FileDrop #Text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 40px;
}

textarea {
    font-family: "Roboto Mono"monospace;
    height: 300px;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

#Songs {
    position: absolute;
    top: 47px;
    width: 100%;
    left: 0;
}

#Tracks {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
}

#Tracks .ui.container {
    overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

#Tracks .ui.container > div {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#Tracks .ui.segment {
    height: 100px;
    background-color: #0984e3;
    margin: 10px;
    padding: 0 !important;
}
#Tracks .ui.segment.selected {
    box-shadow: 0 0 0 4px #fdcb6e;
}

#Tracks .ui.segment .name {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    line-height: 10px;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

#Tracks .ui.segment .note {
    fill: #aad3fc;
}